<h1>Mistakes</h1>

<ul>
<% @mistakes.each do |mistake| %>
  <li>(<%= mistake.severity %>) <%= link_to( mistake.name, mistake_path(mistake.id)) %> </li>
<% end %>
</ul>
<!-- <a href="mistake/<%#= mistake.id %>"><%#= mistake.name %></a> -->
